@font-face {
    font-family: 'HeadName';
    src: url('./etc/Philosopher-Regular.ttf');
}

html,body {
  padding : 0;
  margin  : 0;
  font-family : arial, sans-serif;
  background-color : rgb(110,110,110);  
}
header{
  height : 40px;
  background-color : darkgrey;
  border-left : 10px groove rgb(45,151,149);
  margin : 0;
  margin-bottom : 10px;
  padding : 2pt;
}
header h1{
  margin : 1pt;
}
section#main{
  position:relative;
  margin : 0; padding : 0;
}
#choix {
  justify-content : space-around; 
  display : flex;
  top : 0; left : 0;
  margin : 0;
  flex-wrap:  wrap;
}
footer {
  margin-top : 20px;
  padding : 15px;
}
img.avatar {
  max-height : 130px;
  max-width : 130px;
  margin-top : 15px;
  margin-right : 30px;
}

.resto{
  justify-content : space-around; 
  margin: 50px;
  padding : 40px;
  display : flex;
  border-left: 2px groove rgb(45,151,149);
  width: 75%;
  height: 25%;
  background : rgb(70,70,70);   
}
.Name{
  flex : 2;
  padding-left : 5%;
  font-size: small;
  justify-content : center;
  text-align: center;
  width :50%;
}
.headname{
    font-size: x-large;
    font-family :'HeadName',"Comic Sans MS";
    color: rgb(120,200,250);
}
.litlebox{
  flex :1;
  padding-left : 5%;
  justify-content : content;
  width :25%;
}
.status{    
  transform : scale(0.5);
  width: 75px;
  height: 75px;
  border: 1px solid grey;
  border-radius : 100%;
}
.close{
  background-color: red;
}
.open{
  background-color: green;
}
